{% extends "travel/base.html" %}

{% block content %}

<h2>New Booking</h2>

<h3>Booking Form</h3>
<form method="POST">
   
    <label>Traveler Full Name:</label><br>
    <input type="text" name="traveler_names"><br><br>     

    <label>Passport Number:</label><br>
    <input type="text" name="passport_number"><br><br>   

    <label>Destination</label><br>
    <select name="destination" required>
        <option value="">-- Select a Destination --</option>
        <option value="Rome">Italy - Rome</option>
        <option value="London">United Kingdom - London</option>
        <option value="Amsterdam">Netherlands- Amsterdam</option>
        <option value="Paris">France - Paris</option>
        <option value="Barcelona">Spain - Barcelona</option>
        <option value="Barcelona">Thiland - Bangkok</option>
        <option value="Dubai" >UAEDubai</option>
    </select><br><br>
    
    <label >Number of Travelers:</label><br>
    <input type="number" name="num_travelers" min="1" required><br><br>

    <button type="submit">Book Now</button>
</form>

{% endblock %}
 
